@import url("https://fonts.googleapis.com/css2?family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700%3B0%2C900&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-feDKMjgq3RT-_font-family: "Roboto", sans-serif;
  --mixin-feDKMjgq3RT-_font-size: 16px;
  --mixin-feDKMjgq3RT-_font-weight: 400;
  --mixin-feDKMjgq3RT-_font-style: normal;
  --mixin-feDKMjgq3RT-_color: #535353;
  --mixin-feDKMjgq3RT-_text-align: left;
  --mixin-feDKMjgq3RT-_text-transform: none;
  --mixin-feDKMjgq3RT-_line-height: 1.5;
  --mixin-feDKMjgq3RT-_letter-spacing: normal;
  --mixin-feDKMjgq3RT-_white-space: pre-wrap;
  --mixin-feDKMjgq3RT-_user-select: text;
  --mixin-feDKMjgq3RT-_text-decoration-line: none;
  --mixin-feDKMjgq3RT-_text-overflow: clip;
  --mixin-Brm2YEzFqLI9_font-family: "Inter", sans-serif;
  --mixin-Brm2YEzFqLI9_color: #000000;
  --mixin-Brm2YEzFqLI9_font-size: 72px;
  --mixin-Brm2YEzFqLI9_font-weight: 900;
  --mixin-Brm2YEzFqLI9_letter-spacing: -4px;
  --mixin-Brm2YEzFqLI9_line-height: 1;
  --mixin-Brm2YEzFqLI9_white-space: pre-wrap;
  --mixin-zgfoAFWTJ2pk_font-family: "Inter", sans-serif;
  --mixin-zgfoAFWTJ2pk_color: #000000;
  --mixin-zgfoAFWTJ2pk_font-size: 48px;
  --mixin-zgfoAFWTJ2pk_font-weight: 700;
  --mixin-zgfoAFWTJ2pk_letter-spacing: -1px;
  --mixin-zgfoAFWTJ2pk_line-height: 1.1;
  --mixin-zgfoAFWTJ2pk_white-space: pre-wrap;
  --mixin-vWyqiMFmDfU5_font-family: "Inter", sans-serif;
  --mixin-vWyqiMFmDfU5_color: #000000;
  --mixin-vWyqiMFmDfU5_font-size: 32px;
  --mixin-vWyqiMFmDfU5_font-weight: 600;
  --mixin-vWyqiMFmDfU5_letter-spacing: -0.8px;
  --mixin-vWyqiMFmDfU5_line-height: 1.2;
  --mixin-vWyqiMFmDfU5_white-space: pre-wrap;
  --mixin-5Up5toKwfsFA_font-family: "Inter", sans-serif;
  --mixin-5Up5toKwfsFA_color: #000000;
  --mixin-5Up5toKwfsFA_font-size: 24px;
  --mixin-5Up5toKwfsFA_font-weight: 600;
  --mixin-5Up5toKwfsFA_letter-spacing: -0.5px;
  --mixin-5Up5toKwfsFA_line-height: 1.3;
  --mixin-5Up5toKwfsFA_white-space: pre-wrap;
  --mixin-yJmxmr16EonV_font-family: "Inter", sans-serif;
  --mixin-yJmxmr16EonV_color: #000000;
  --mixin-yJmxmr16EonV_font-size: 20px;
  --mixin-yJmxmr16EonV_font-weight: 600;
  --mixin-yJmxmr16EonV_letter-spacing: -0.3px;
  --mixin-yJmxmr16EonV_line-height: 1.5;
  --mixin-yJmxmr16EonV_white-space: pre-wrap;
  --mixin-zjRN-czAWquX_font-family: "Inter", sans-serif;
  --mixin-zjRN-czAWquX_color: #000000;
  --mixin-zjRN-czAWquX_font-size: 16px;
  --mixin-zjRN-czAWquX_font-weight: 600;
  --mixin-zjRN-czAWquX_line-height: 1.5;
  --mixin-zjRN-czAWquX_white-space: pre-wrap;
  --mixin-MzGpLnQzyJMo_color: #0070f3;
  --mixin-MzGpLnQzyJMo_white-space: pre-wrap;
  --mixin-o2z6ZfJYHKON_color: #3291ff;
  --mixin-o2z6ZfJYHKON_white-space: pre-wrap;
  --mixin-6gBDQxfiIGE4_border-left-color: #dddddd;
  --mixin-6gBDQxfiIGE4_border-left-style: solid;
  --mixin-6gBDQxfiIGE4_border-left-width: 3px;
  --mixin-6gBDQxfiIGE4_color: #888888;
  --mixin-6gBDQxfiIGE4_padding-left: 10px;
  --mixin-6gBDQxfiIGE4_white-space: pre-wrap;
  --mixin-miLbISN2_k2w_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-miLbISN2_k2w_border-bottom-color: #dddddd;
  --mixin-miLbISN2_k2w_border-bottom-style: solid;
  --mixin-miLbISN2_k2w_border-bottom-width: 1px;
  --mixin-miLbISN2_k2w_border-left-color: #dddddd;
  --mixin-miLbISN2_k2w_border-left-style: solid;
  --mixin-miLbISN2_k2w_border-left-width: 1px;
  --mixin-miLbISN2_k2w_border-right-color: #dddddd;
  --mixin-miLbISN2_k2w_border-right-style: solid;
  --mixin-miLbISN2_k2w_border-right-width: 1px;
  --mixin-miLbISN2_k2w_border-top-color: #dddddd;
  --mixin-miLbISN2_k2w_border-top-style: solid;
  --mixin-miLbISN2_k2w_border-top-width: 1px;
  --mixin-miLbISN2_k2w_border-bottom-left-radius: 3px;
  --mixin-miLbISN2_k2w_border-bottom-right-radius: 3px;
  --mixin-miLbISN2_k2w_border-top-left-radius: 3px;
  --mixin-miLbISN2_k2w_border-top-right-radius: 3px;
  --mixin-miLbISN2_k2w_font-family: "Inconsolata";
  --mixin-miLbISN2_k2w_padding-bottom: 1px;
  --mixin-miLbISN2_k2w_padding-left: 4px;
  --mixin-miLbISN2_k2w_padding-right: 4px;
  --mixin-miLbISN2_k2w_padding-top: 1px;
  --mixin-miLbISN2_k2w_white-space: pre-wrap;
  --mixin-ZHCOIOVymRQz_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-ZHCOIOVymRQz_border-bottom-color: #dddddd;
  --mixin-ZHCOIOVymRQz_border-bottom-style: solid;
  --mixin-ZHCOIOVymRQz_border-bottom-width: 1px;
  --mixin-ZHCOIOVymRQz_border-left-color: #dddddd;
  --mixin-ZHCOIOVymRQz_border-left-style: solid;
  --mixin-ZHCOIOVymRQz_border-left-width: 1px;
  --mixin-ZHCOIOVymRQz_border-right-color: #dddddd;
  --mixin-ZHCOIOVymRQz_border-right-style: solid;
  --mixin-ZHCOIOVymRQz_border-right-width: 1px;
  --mixin-ZHCOIOVymRQz_border-top-color: #dddddd;
  --mixin-ZHCOIOVymRQz_border-top-style: solid;
  --mixin-ZHCOIOVymRQz_border-top-width: 1px;
  --mixin-ZHCOIOVymRQz_border-bottom-left-radius: 3px;
  --mixin-ZHCOIOVymRQz_border-bottom-right-radius: 3px;
  --mixin-ZHCOIOVymRQz_border-top-left-radius: 3px;
  --mixin-ZHCOIOVymRQz_border-top-right-radius: 3px;
  --mixin-ZHCOIOVymRQz_font-family: "Inconsolata";
  --mixin-ZHCOIOVymRQz_padding-bottom: 3px;
  --mixin-ZHCOIOVymRQz_padding-left: 6px;
  --mixin-ZHCOIOVymRQz_padding-right: 6px;
  --mixin-ZHCOIOVymRQz_padding-top: 3px;
  --mixin-ZHCOIOVymRQz_white-space: pre-wrap;
  --mixin-_nnoUBt1WhPR_display: flex;
  --mixin-_nnoUBt1WhPR_flex-direction: column;
  --mixin-_nnoUBt1WhPR_align-items: stretch;
  --mixin-_nnoUBt1WhPR_justify-content: flex-start;
  --mixin-_nnoUBt1WhPR_list-style-position: outside;
  --mixin-_nnoUBt1WhPR_padding-left: 40px;
  --mixin-_nnoUBt1WhPR_position: relative;
  --mixin-_nnoUBt1WhPR_list-style-type: decimal;
  --mixin-_nnoUBt1WhPR_white-space: pre-wrap;
  --mixin-ng4Wt0slyfC7_display: flex;
  --mixin-ng4Wt0slyfC7_flex-direction: column;
  --mixin-ng4Wt0slyfC7_align-items: stretch;
  --mixin-ng4Wt0slyfC7_justify-content: flex-start;
  --mixin-ng4Wt0slyfC7_list-style-position: outside;
  --mixin-ng4Wt0slyfC7_padding-left: 40px;
  --mixin-ng4Wt0slyfC7_position: relative;
  --mixin-ng4Wt0slyfC7_list-style-type: disc;
  --mixin-ng4Wt0slyfC7_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-feDKMjgq3RT-_font-family);
  font-size: var(--mixin-feDKMjgq3RT-_font-size);
  font-weight: var(--mixin-feDKMjgq3RT-_font-weight);
  font-style: var(--mixin-feDKMjgq3RT-_font-style);
  color: var(--mixin-feDKMjgq3RT-_color);
  text-align: var(--mixin-feDKMjgq3RT-_text-align);
  text-transform: var(--mixin-feDKMjgq3RT-_text-transform);
  line-height: var(--mixin-feDKMjgq3RT-_line-height);
  letter-spacing: var(--mixin-feDKMjgq3RT-_letter-spacing);
  white-space: var(--mixin-feDKMjgq3RT-_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-Brm2YEzFqLI9_font-family);
  color: var(--mixin-Brm2YEzFqLI9_color);
  font-size: var(--mixin-Brm2YEzFqLI9_font-size);
  font-weight: var(--mixin-Brm2YEzFqLI9_font-weight);
  letter-spacing: var(--mixin-Brm2YEzFqLI9_letter-spacing);
  line-height: var(--mixin-Brm2YEzFqLI9_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-family: var(--mixin-zgfoAFWTJ2pk_font-family);
  color: var(--mixin-zgfoAFWTJ2pk_color);
  font-size: var(--mixin-zgfoAFWTJ2pk_font-size);
  font-weight: var(--mixin-zgfoAFWTJ2pk_font-weight);
  letter-spacing: var(--mixin-zgfoAFWTJ2pk_letter-spacing);
  line-height: var(--mixin-zgfoAFWTJ2pk_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-vWyqiMFmDfU5_font-family);
  color: var(--mixin-vWyqiMFmDfU5_color);
  font-size: var(--mixin-vWyqiMFmDfU5_font-size);
  font-weight: var(--mixin-vWyqiMFmDfU5_font-weight);
  letter-spacing: var(--mixin-vWyqiMFmDfU5_letter-spacing);
  line-height: var(--mixin-vWyqiMFmDfU5_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-5Up5toKwfsFA_font-family);
  color: var(--mixin-5Up5toKwfsFA_color);
  font-size: var(--mixin-5Up5toKwfsFA_font-size);
  font-weight: var(--mixin-5Up5toKwfsFA_font-weight);
  letter-spacing: var(--mixin-5Up5toKwfsFA_letter-spacing);
  line-height: var(--mixin-5Up5toKwfsFA_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-yJmxmr16EonV_font-family);
  color: var(--mixin-yJmxmr16EonV_color);
  font-size: var(--mixin-yJmxmr16EonV_font-size);
  font-weight: var(--mixin-yJmxmr16EonV_font-weight);
  letter-spacing: var(--mixin-yJmxmr16EonV_letter-spacing);
  line-height: var(--mixin-yJmxmr16EonV_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-zjRN-czAWquX_font-family);
  color: var(--mixin-zjRN-czAWquX_color);
  font-size: var(--mixin-zjRN-czAWquX_font-size);
  font-weight: var(--mixin-zjRN-czAWquX_font-weight);
  line-height: var(--mixin-zjRN-czAWquX_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-MzGpLnQzyJMo_color);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-o2z6ZfJYHKON_color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-6gBDQxfiIGE4_color);
  padding-left: var(--mixin-6gBDQxfiIGE4_padding-left);
  border-left: var(--mixin-6gBDQxfiIGE4_border-left-width)
    var(--mixin-6gBDQxfiIGE4_border-left-style)
    var(--mixin-6gBDQxfiIGE4_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-miLbISN2_k2w_font-family);
  border-radius: var(--mixin-miLbISN2_k2w_border-top-left-radius)
    var(--mixin-miLbISN2_k2w_border-top-right-radius)
    var(--mixin-miLbISN2_k2w_border-bottom-right-radius)
    var(--mixin-miLbISN2_k2w_border-bottom-left-radius);
  padding: var(--mixin-miLbISN2_k2w_padding-top)
    var(--mixin-miLbISN2_k2w_padding-right)
    var(--mixin-miLbISN2_k2w_padding-bottom)
    var(--mixin-miLbISN2_k2w_padding-left);
  border-top: var(--mixin-miLbISN2_k2w_border-top-width)
    var(--mixin-miLbISN2_k2w_border-top-style)
    var(--mixin-miLbISN2_k2w_border-top-color);
  border-right: var(--mixin-miLbISN2_k2w_border-right-width)
    var(--mixin-miLbISN2_k2w_border-right-style)
    var(--mixin-miLbISN2_k2w_border-right-color);
  border-bottom: var(--mixin-miLbISN2_k2w_border-bottom-width)
    var(--mixin-miLbISN2_k2w_border-bottom-style)
    var(--mixin-miLbISN2_k2w_border-bottom-color);
  border-left: var(--mixin-miLbISN2_k2w_border-left-width)
    var(--mixin-miLbISN2_k2w_border-left-style)
    var(--mixin-miLbISN2_k2w_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-ZHCOIOVymRQz_font-family);
  border-radius: var(--mixin-ZHCOIOVymRQz_border-top-left-radius)
    var(--mixin-ZHCOIOVymRQz_border-top-right-radius)
    var(--mixin-ZHCOIOVymRQz_border-bottom-right-radius)
    var(--mixin-ZHCOIOVymRQz_border-bottom-left-radius);
  padding: var(--mixin-ZHCOIOVymRQz_padding-top)
    var(--mixin-ZHCOIOVymRQz_padding-right)
    var(--mixin-ZHCOIOVymRQz_padding-bottom)
    var(--mixin-ZHCOIOVymRQz_padding-left);
  border-top: var(--mixin-ZHCOIOVymRQz_border-top-width)
    var(--mixin-ZHCOIOVymRQz_border-top-style)
    var(--mixin-ZHCOIOVymRQz_border-top-color);
  border-right: var(--mixin-ZHCOIOVymRQz_border-right-width)
    var(--mixin-ZHCOIOVymRQz_border-right-style)
    var(--mixin-ZHCOIOVymRQz_border-right-color);
  border-bottom: var(--mixin-ZHCOIOVymRQz_border-bottom-width)
    var(--mixin-ZHCOIOVymRQz_border-bottom-style)
    var(--mixin-ZHCOIOVymRQz_border-bottom-color);
  border-left: var(--mixin-ZHCOIOVymRQz_border-left-width)
    var(--mixin-ZHCOIOVymRQz_border-left-style)
    var(--mixin-ZHCOIOVymRQz_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-_nnoUBt1WhPR_display);
  flex-direction: var(--mixin-_nnoUBt1WhPR_flex-direction);
  align-items: var(--mixin-_nnoUBt1WhPR_align-items);
  justify-content: var(--mixin-_nnoUBt1WhPR_justify-content);
  list-style-position: var(--mixin-_nnoUBt1WhPR_list-style-position);
  padding-left: var(--mixin-_nnoUBt1WhPR_padding-left);
  position: var(--mixin-_nnoUBt1WhPR_position);
  list-style-type: var(--mixin-_nnoUBt1WhPR_list-style-type);
  column-gap: var(--mixin-_nnoUBt1WhPR_column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-ng4Wt0slyfC7_display);
  flex-direction: var(--mixin-ng4Wt0slyfC7_flex-direction);
  align-items: var(--mixin-ng4Wt0slyfC7_align-items);
  justify-content: var(--mixin-ng4Wt0slyfC7_justify-content);
  list-style-position: var(--mixin-ng4Wt0slyfC7_list-style-position);
  padding-left: var(--mixin-ng4Wt0slyfC7_padding-left);
  position: var(--mixin-ng4Wt0slyfC7_position);
  list-style-type: var(--mixin-ng4Wt0slyfC7_list-style-type);
  column-gap: var(--mixin-ng4Wt0slyfC7_column-gap);
}
